.pillResponsive {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.productImage {
  height: 150px;
  width: 30%;
}

.pageWrapper {
  padding: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .productImage {
    height: 130px;
    width: 40%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .pillResponsive {
    flex-direction: column;
    justify-content: center;
  }

  .productImage {
    height: auto;
    width: 90%;
    align-self: center;
  }
}
